header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 1rem;
  background-color: #cceeff;
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

figure {
  margin: 1rem;
  text-align: center;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #222;
  color: white;
}

.social img {
  width: 30px;
  margin-left: 0.5rem;
}
