* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

main img {
  width: 300px;
  height: auto;
}

aside {
  width: 300px;
  margin: 16px auto;
  border: 1px solid #ccc;
  padding: 8px;
  background-color: #f0f8ff;
  color: #333;
}

aside img {
  width: 200px;
  height: auto;
}

p {
  padding: 0;
}

footer {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  text-align: center;
}
